
* {
    box-sizing: border-box;
}

body {
    font: 400 14px/1 'PT Sans', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* / Reset */

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-beetween {
    justify-content: space-between;
}

.container {
    width: 1114px;
    padding: 0 15px;
    margin: auto;
}

.btn {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.333;
    padding: 16px 30px;
}

.btn-default {
    background-color: #fff;
    box-shadow: 0px 4px 20px #0F064C;
    color: #0F064C;
}

/* PULSE */
@keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
/* /PULSE */

/* Sweep To Top */
.hvr-sweep-to-top {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #150B56;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
    color: white;
  }
  .hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  /* /.Sweep To Top */

  /* Shutter In Vertical */
.hvr-shutter-in-vertical {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #150B56;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
  color: white;
}
.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
/* SHUTTEN */
  
.header {
    padding: 40px 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.main-header-nav {
    color: #fff;
    font-weight: 700;
    margin-left: 66px;
}

.main-header-nav a + a, 
.info-header-nav a + a {
    margin-left: 30px;
}

.info-header-nav {
    color: rgba(255, 255, 255, 0.8);
    margin-left: auto;
}

.inner {
    height: 100vh;
    min-height: 910px;
    padding-top: 106px;
    background: linear-gradient(89.79deg, #23196F 0.13%, #180D5B 99.88%);
    overflow: hidden;
}

.inner-call-to-action {
    /* background: url(../img/inner-bg.png) no-repeat; */
    max-width: 545px;
    position: relative;
}

.inner-call-to-action::after {
    content: '';
    width: 738px;
    height: 611px;
    background: url(../img/inner-bg.png) no-repeat;
    position: absolute;
    top: -100px;
    right: -655px;
    opacity: 0;
    animation: opacity 0.5s ease-in 800ms forwards;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.call-to-action-title {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2916;
    margin-top: 55px;
    z-index: 1;
    position: relative;
}

.call-to-action-desc {
    font-size: 18px;
    line-height: 1.33;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
    max-width: 390px;
    margin-bottom: 55px;
}

.call-to-action-desc > span{
    color: #36A7B9;
    font-weight: 700;
}

.test-your-email {
    display: inline-block;   
}

.email-not-req {
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

.email-not-req > span {
    margin-left: 15px;
}

.inner-services-wrap {
    margin-top: 95px;
}

.inner-services-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.29;
    margin-bottom: 30px;
    color: #fff;
    max-width: 365px;
}

.inner-service-list-item {
    width: 164px;
    height: 164px;
    cursor: pointer;
}

.inner-service-list-item:hover {
    background-color: none;
}

.inner-service-list-item img {
    position: relative;
}

.inner-service-list-item + .inner-service-list-item {
    margin-left: 10px;
}
